<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peng.one.push.jpush">
  <!-- Required -->
  <permission
      android:name="${applicationId}.permission.JPUSH_MESSAGE"
      android:protectionLevel="signature"/>
  <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>
  <application>

    <!-- User defined.  For test only  用户自定义的广播接收器-->
    <receiver
        android:name="com.peng.one.push.jpush.JPushReceiver"
        android:exported="false"
        android:enabled="true">
      <intent-filter>
        <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
        <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
        <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
        <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
        <category android:name="${applicationId}" />
      </intent-filter>
    </receiver>


  </application>

</manifest>
