*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle.properties
/gradlew
/gradlew.bat
/release.keystore
.gradle/
build/
out/
.idea/