<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peng.one.push.meizu">

  <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"></uses-permission>
  <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE"/>

  <permission
      android:name="{applicationId}.push.permission.MESSAGE"
      android:protectionLevel="signature"/>
  <uses-permission android:name="com.peng.one.push1.push.permission.MESSAGE"/>
  <permission
      android:name="{applicationId}.permission.C2D_MESSAGE"
      android:protectionLevel="signature"/>
  <uses-permission android:name="{applicationId}.permission.C2D_MESSAGE"/>
  <!--注意上面的必须修改  end -->

  <application>

    <!-- push应用定义消息receiver声明 -->
    <receiver android:name="com.peng.one.push.meizu.MeizuPushReceiver">
      <intent-filter>
        <!-- 接收push消息 -->
        <action android:name="com.meizu.flyme.push.intent.MESSAGE"/>
        <!-- 接收register消息-->
        <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK"/>
        <!-- 接收unregister消息-->
        <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>
        <action android:name="com.peng.one.push.FLAG_OPERATE_TYPE"/>
        <action android:name="com.meizu.c2dm.intent.REGISTRATION"/>
        <action android:name="com.meizu.c2dm.intent.RECEIVE"/>

        <category android:name="{applicationId}"></category>
      </intent-filter>
    </receiver>
  </application>
</manifest>
