<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peng.one.push1">


  <application
      android:name="com.peng.one.push1.PushApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <!--********************************OnePush各家推送的appid注册地方*******************start*******************-->
    <!--友盟推送静态注册-->
    <meta-data
        android:name="UMENG_APPKEY"
        android:value="59c87440734be47b6700001b"/>

    <meta-data
        android:name="UMENG_MESSAGE_SECRET"
        android:value="b856987f2ca836a784698e150d36ff2a"/>

    <!--小米推送静态注册-->
    <meta-data
        android:name="MI_PUSH_APP_ID"
        android:value="\ 2882303761517577233"/>

    <meta-data
        android:name="MI_PUSH_APP_KEY"
        android:value="\ 5701757717233"/>

    <!--个推推送静态注册-->
    <meta-data
        android:name="PUSH_APPID"
        android:value="edX56uUoQ7ASr4ru4c3rVA"/>
    <meta-data
        android:name="PUSH_APPKEY"
        android:value="Crl1UEA5Fd8tooEDmS5aA3"/>
    <meta-data
        android:name="PUSH_APPSECRET"
        android:value="D9hcD0r6Ec5ANGSLY92XP3"/>

    <!--魅族推送静态注册-->
    <meta-data
        android:name="MEIZU_PUSH_APP_ID"
        android:value="111338"/>

    <meta-data
        android:name="MEIZU_PUSH_APP_KEY"
        android:value="db1659369a85459abe5384814123ab5a"/>

    <!--极光推送静态注册-->
    <meta-data
        android:name="JPUSH_CHANNEL"
        android:value="developer"/>
    <meta-data
        android:name="JPUSH_APPKEY"
        android:value="41bb9f84d2158a7be9de3b47"/>

    <!--华为HMS推送静态注册-->
    <meta-data
        android:name="com.huawei.hms.client.appid"
        android:value="100099491"/>

    <!--华为老版本推送不需要静态注册-->

    <!--********************************OnePush各家推送的appid注册地方****************end**********************-->

    <!--如果引入了one-push-xiaomi库-->
    <meta-data
        android:name="OnePush_XiaoMi_101"
        android:value="com.peng.one.push.xiaomi.XiaomiPushClient"/>


    <!--如果引入了one-push-huawei类库-->
<!--        <meta-data
            android:name="OnePush_HuaWei_102"
            android:value="com.peng.one.push.huawei.HuaweiPushClient"/>-->

    <!--如果引入了one-push-meizu库-->
    <meta-data
        android:name="OnePush_MeiZu_103"
        android:value="com.peng.one.push.meizu.MeizuPushClient"/>

    <!--如果引入了one-push-umeng类库-->
    <meta-data
        android:name="OnePush_UMENG_104"
        android:value="com.peng.one.push.umeng.UMengPushClient"/>

    <!--如果引入了one-push-getui库-->
    <meta-data
        android:name="OnePush_GeTui_105"
        android:value="com.peng.one.push.getui.GeTuiPushClient"/>

    <!--如果引入了one-push-getui库-->
    <meta-data
        android:name="OnePush_JPush_106"
        android:value="com.peng.one.push.jpush.JPushClient"/>

    <!--如果引入了one-push-huawei-hms库-->
    <!--<meta-data-->
        <!--android:name="OnePush_HMSPush_107"-->
        <!--android:value="com.peng.one.push.huawei.hms.HMSPushClient"/>-->

    <meta-data
        android:name="OnePush_HMSPush_108"
        android:value="com.peng.one.push.huawei.hmsagents.HMSPushClient"/>

    <activity
        android:name="com.peng.one.push1.MainActivity"
        android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <receiver android:name="com.peng.one.push1.TestPushReceiver">
      <intent-filter>
        <action android:name="com.peng.one.push.ACTION_RECEIVE_NOTIFICATION"/>
        <action android:name="com.peng.one.push.ACTION_RECEIVE_NOTIFICATION_CLICK"/>
        <action android:name="com.peng.one.push.ACTION_RECEIVE_MESSAGE"/>
        <action android:name="com.peng.one.push.ACTION_RECEIVE_COMMAND_RESULT"/>

        <category android:name="${applicationId}" />
      </intent-filter>
    </receiver>

  </application>

</manifest>